/node_modules
/public/build
/public/hot
/public/storage
/public/vendor
/storage/*.key
/vendor
.env
.env.backup
.env.testing
.env.dusk
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
/docker/mysql/data
